$main-font: 'Roboto', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
$logo-font: 'Yellowtail', cursive;
$title-color: #274c5b;
$font-color: #525c60;
$accent-color: #7eb693;
$old-price-color: #b8b8b8;
$dark-theme-button-color: #efd372;
$button-shadow-color: #335b6b;
$dark-theme-font-color: #ffffff;
