.cart {
  &__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 350px;
    height: 70px;
    width: 159px;
    border: 1px solid #d4d4d4;
    border-radius: 40px;
    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  &__details {
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.7;
    color: $title-color;
    letter-spacing: 0.36px;
  }
  &__added {
    padding-right: 20px;
    padding-left: 5px;
  }
}
