.footer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 182px;
  padding-bottom: 100px;

  &__address-container {
    width: 350px;
    padding-right: 20px;
    padding-left: 30px;
  }

  &__address-header {
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.4;
    text-align: right;
    letter-spacing: 0.36px;
    color: $title-color;
    padding-bottom: 35px;
  }

  &__contact-label {
    font-family: $secondary-font;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.28;
    text-align: right;
    letter-spacing: 0.36px;

    color: $font-color;
  }

  &__contacts-list {
    text-align: right;
  }

  &__contacts-email {
    padding-bottom: 40px;
  }

  &__contacts-phone {
    padding-bottom: 40px;
  }

  &__contact-detail {
    font-family: $secondary-font;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    text-align: right;
    letter-spacing: 0.36px;

    color: $font-color;
  }

  &__social {
    padding-left: 60px;
    padding-right: 60px;
    border-left: 1px solid #eff6f1;
    border-right: 1px solid #eff6f1;

    // display: block;
    // margin: 0 auto;

    &-header {
      display: block;
      text-align: center;

      font-family: $secondary-font;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.78;
      letter-spacing: 0.36px;

      color: $font-color;
      margin-bottom: 50px;
    }
  }
  &__logo {
    display: block;
    margin: 0 auto;

    margin-bottom: 25px;
  }
  &__social-list {
    display: flex;
    justify-content: center;
  }
  &__social-item {
    &:not(last-child) {
      margin-right: 20px;
    }
  }

  &__utility {
    padding-left: 20px;
    &-item {
      font-family: $secondary-font;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.61;
      letter-spacing: 0.36px;

      color: $font-color;

      margin-bottom: 20px;
    }
  }
}
