.hero {
  padding: 230px 30px 250px 30px;
  margin: 0 auto;
  display: block;
  height: 913px;
  width: 1440px;
  background-image: url('../images/hero.png');
  background-repeat: no-repeat;
  background-size: cover;

  &__title {
    font-weight: 700;
    font-size: 70px;
    line-height: 1.2;
    letter-spacing: 0.36px;
    color: $title-color;
  }
  &__description {
    @include secondary-font;
  }
  &__button {
    width: 219px;
    height: 82px;

    font-weight: 400;
    font-size: 19px;
    line-height: 1.68;
    letter-spacing: 0.36px;
    font-family: $main-font;
    background-color: $dark-theme-button-color;
    color: $title-color;
    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
    border: none;
    border-radius: 30px;

    margin-top: 35px;

    &__container {
      margin: 0;
      padding-left: 15px;
      display: flex;

      justify-content: center;
      align-items: center;
    }
    &-icon {
      display: block;
      background-color: $button-icon-color;
      border-radius: 50%;
      margin-left: 30px;
      width: 38px;
      height: 34px;
      padding: 12px;
    }
  }
}
