.news {
  padding-top: 130px;
  margin: 0 auto;
  display: block;
  height: 1060px;
  width: 1440px;

  &__title {
    @include secondary-font;
  }

  &__offer {
    font-family: $main-font;
    font-weight: 700;
    font-size: 45px;
    line-height: 1.32;
    letter-spacing: 0.36px;
    text-transform: capitalize;
    color: $title-color;
  }
  &__header-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__button {
    width: 210px;
    height: 82px;

    font-weight: 400;
    font-size: 19px;
    line-height: 1.68;
    letter-spacing: 0.36px;
    font-family: $main-font;
    background-color: #ffffff;
    color: $title-color;
    border: 1px solid #335b6b;
    border-radius: 20px;

    cursor: pointer;

    &:hover {
      box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
      transition: box-shadow 250ms linear;
    }

    &__container {
      margin: 0;
      padding-left: 15px;
      display: flex;

      justify-content: center;
      align-items: center;
    }
    &-icon {
      display: block;
      background-color: $button-icon-color;
      border-radius: 50%;
      margin-left: 30px;
      width: 38px;
      height: 34px;
      padding: 12px;
    }
  }
  &__list {
    display: flex;
    margin-top: 104px;
  }
  &__item:first-child {
    width: 670px;
    height: 515px;
    margin-right: 30px;
    background-image: url('../images/salad.png');
  }
  &__item:nth-child(2) {
    width: 670px;
    height: 515px;
    background-image: url('../images/tomatoes.png');
  }
  &__card {
    display: block;
    width: 610px;
    height: 337px;
    background-color: #ffffff;
    background: #ffffff;
    box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.14);
    border-radius: 30px;
    margin: 250px auto 0;
    padding-top: 50px;
    padding-left: 50px;
  }
  &__author {
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.27;
    letter-spacing: 0.36px;
    color: $title-color;
  }
  &__user-container {
    display: flex;
    align-items: center;
  }
  &__card-title {
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 1.4;
    letter-spacing: 0.36px;
    color: $title-color;

    margin: 10px 0 38px;
  }
  &__description {
    font-family: $secondary-font;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.78;
    letter-spacing: 0.36px;
    color: $font-color;
    padding-right: 118px;
    margin-bottom: 30px;
  }
  &__loadmore {
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.36px;
    color: $title-color;
    &-container {
      display: flex;
      align-items: center;
    }
    &-button {
      display: block;
      background-color: $button-icon-color;
      border-radius: 50%;
      margin-left: 10px;
      width: 38px;
      height: 34px;
      padding: 12px;
    }
  }
}
.user__icon {
  width: 18px;
  height: 20px;
  margin-right: 10px;
}
